/* .scrollbar{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px(rgba(0,0,0,0.1));
    background-color: #2BBBAD;
}

.scrollbar-default{
    scrollbar-color: #2BBBAD #F5F5F5;
} */

.scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #fafadc;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar{
    width: 12px;
    background-color: #ecc58f;
    border-radius:10px;
}

.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #f6d365 0%, #fda085 100%);
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.scrollbar{
    scrollbar-color: #f6d365 #F5F5F5;
}

#admincards{
    background-color:#ecc58f;
    border:"1px solid black";
}

#welcomeBannerDash{
    background-image:
    linear-gradient(
        rgba(249,218,191, 0.5),
        rgba(249,218,191, 0.5)
    ),
    url('../../components/images/gearBG.png');
    background-color:#f9dabf;
    border-radius:20px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    font-size:larger;
    background-size: 100%;
    background-position-y: -137%;
}