#carousel{
    display: block;
    background-size: cover;
    height:40vh;
    width:40vh;
    border-radius: 50%;
    overflow:hidden;
    margin-top: 60px;
}

/* #carouselImg{
    text-align: center;
    margin: auto;
} */

img{
    filter: blur (20px);
    text-align:center;
    margin: auto;
    opacity:0.8;
}
